In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
os.getcwd()

'/Users/hsunku/Desktop'

In [7]:
ex1data = pd.read_csv('/Users/hsunku/Desktop/ex1/ex1data1.txt',header=None)

          0         1
0    6.1101  17.59200
1    5.5277   9.13020
2    8.5186  13.66200
3    7.0032  11.85400
4    5.8598   6.82330
..      ...       ...
92   5.8707   7.20290
93   5.3054   1.98690
94   8.2934   0.14454
95  13.3940   9.05510
96   5.4369   0.61705

[97 rows x 2 columns]